.SectionTitle {
  max-width: 700px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  margin-top: var(--header_height);
  margin-bottom: calc(var(--header_height) / 2);
}

@media screen and (max-width: 767px) {
  .SectionTitle {
    font-size: 30px;
    line-height: 30px;
  }
}
