.SelectWrapper.MuiFormControl-root {
  width: 100%;
}

.SelectWrapper .MuiSelect-select {
  font-family: 'Open Sans';
}

// переопределил стили в состоянии фокуса
.SelectWrapper:has(.Mui-focused) {
  & fieldset {
    border-color: var(--color_accent) !important;
  }

  & label {
    color: var(--color_accent);
  }
}

// переопределил стили в состоянии ошибки
.SelectWrapper:has(.Mui-error) {
  & fieldset {
    border-color: var(--color_error) !important;
    border-width: 2px;
  }

  & label {
    color: var(--color_error);
  }
}
